<div class="container">
  <h1>Detalhes Empresa</h1>
 
  <a href="#" routerLink="/empresa" class="btn btn-primary">Voltar</a>
  
  <div>
      <strong>ID:</strong>
      <p>{{ empresa.id }}</p>
  </div>
  
  <div>
      <strong>Nome:</strong>
      <p>{{ empresa.nome }}</p>
  </div>
  
  <div>
      <strong>CNPJ:</strong>
      <p>{{ empresa.cnpj }}</p>
  </div>
  
  <div>
      <strong>Endereço:</strong>
      <p>{{ empresa.endereco }}</p>
  </div>
  
  <div>
      <strong>Data de Criação:</strong>
      <p>{{ empresa.created_at }}</p>
  </div>
  
  <div>
      <strong>Atualizado em:</strong>
      <p>{{ empresa.updated_at }}</p>
  </div>
  
  <div>
      <strong>Funcionários:</strong>
      <p>{{ empresa.cnpj }}</p>
  </div>
  
</div>
